
<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <form action="/inventory/edit?_id=<%= Asset._id %>" method="POST">



        <input type="hidden" name="_id" value="<%= Asset._id %>">

        <label class="label" for="assetID">Asset ID</label>
        <input type="number" id="assetID" name="assetID" min="0" step="1" value="<%= Asset.assetID %>" required><br><br>

        <label class="label" for="assetName">Asset Name</label>
        <input type="text" id = "assetName" name = "assetName" value="<%= Asset.assetName %>" required><br><br>
  
        <label class="label" for="assetType">Asset Type</label>
        <input type="text" id = "assetType" name = "assetType" value="<%= Asset.assetType %>" required><br><br>
       
        <label class="label" for="OwnerID">Owner ID</label>
        <input type="number" id = "OwnerID" name = "OwnerID" value="<%= Asset.OwnerID %>" required><br><br>
      

        <input type="submit" value="Save">

    </form>
</body>
</html>
